<div data-section-id="{{ section.id }}" data-section-type="section-banner-v11" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v11 " style="background: {{section.settings.bg_section}}">
    <div class="container container-v2">
      <div class="row">        
        <div class="col-lg-4 col-md-4 col-sm-12 ">
          <div class="box-banner ">
            <div class="box-img">
              <a href="{{section.settings.url_banner1}}">
                <img data-src=" {% if section.settings.img_banner1 != blank %}{{section.settings.img_banner1 | img_url:'master'}} {% else %}//via.placeholder.com/410x240{% endif %}" class="lazyload w-100 img-fluid" alt="_img">
              </a>
            </div>
            <div class="info-banner">
              <div class="info-banner-top">
                {% if section.settings.sub-title1 != blank %}
                <span class="sub-title sub-title-{{ section.id }}">
                  {{section.settings.sub-title1}}
                </span>
                {% endif %}
                {% if section.settings.title_1 != blank %}
                <h3 class="title title-{{ section.id }}">{{section.settings.title_1}}</h3>
                {% endif %}              
              </div>
              <div class="info-bottom"> 
                {% if section.settings.button_1 != blank %}
                <a href="{{section.settings.url_button1}}" class="button-shop button-shop-{{ section.id }}">{{section.settings.button_1}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
          <div class="box-banner ">
            <div class="box-img">
              <a href="{{section.settings.url_banner2}}">
                <img data-src="{% if section.settings.img_banner2 != blank %} {{section.settings.img_banner2 | img_url:'master'}} {% else %} //via.placeholder.com/410x240{% endif %}" class="lazyload img-fluid w-100" alt="_img">
              </a>
            </div>
            <div class="info-banner">
              <div class="info-banner-top ">
                {% if section.settings.sub-title2 != blank %}
                <span class="sub-title sub-title-{{ section.id }}">
                  {{section.settings.sub-title2}}
                </span>
                {% endif %} 
                {% if section.settings.title_2 != blank %}
                <h3 class="title title-{{ section.id }}">{{section.settings.title_2}}</h3>
                {% endif %}             
              </div>
              <div class="info-bottom "> 
                {% if section.settings.button_2 != blank %}
                <a href="{{section.settings.url_button2}}" class="button-shop button-shop-{{ section.id }}">{{section.settings.button_2}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 ">
          <div class="box-banner ">
            <div class="box-img">
              <a href="{{section.settings.url_banner3}}">
                <img data-src="{% if section.settings.img_banner3 != blank %} {{section.settings.img_banner3 | img_url:'master'}} {% else %} //via.placeholder.com/410x240{% endif %}" class="lazyload img-fluid w-100" alt="_img">
              </a>
            </div>
            <div class="info-banner">
              <div class="info-banner-top ">
                {% if section.settings.sub-title3 != blank %}
                <span class="sub-title sub-title-{{ section.id }}">
                  {{section.settings.sub-title3}}
                </span>
                {% endif %} 
                {% if section.settings.title_3 != blank %}
                <h3 class="title title-{{ section.id }}">{{section.settings.title_3}}</h3>
                {% endif %}             
              </div>
              <div class="info-bottom "> 
                {% if section.settings.button_3 != blank %}
                <a href="{{section.settings.url_button3}}" class="button-shop button-shop-{{ section.id }}">{{section.settings.button_3}}</a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .section-banner-v11 .box-banner .info-banner .info-banner-top .title-{{ section.id }} {
    color: {{section.settings.color_title}};
  }
  .section-banner-v11 .box-banner .info-banner .info-banner-top .sub-title-{{ section.id }} {
    color:  {{section.settings.color_content}};
  }
  .section-banner-v11 .box-banner .info-banner .info-bottom  .button-shop-{{ section.id }} {
    color: {{section.settings.color_btn}};
    background: {{section.settings.bg_btn}};
  }
  .section-banner-v11 .box-banner .info-banner .info-bottom  .button-shop-{{ section.id }}:hover {
    color: {{section.settings.color_btn_hover}};
    background: {{section.settings.bg_btn_hover}};
  }

</style>

{% schema %}
{
  "name": "BANNER V11",
  "settings": [
	{
      "type": "color",
      "id": "bg_section",
      "label": "Bacground Section",
      "default": "#faf7f2"
    },
    {
      "type": "header",
      "content": "Setting banner 1"
    },
    {
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
      "info": "690 x 475px recommended"
    },
    {
      "type": "url",
      "id": "url_banner1",
      "label": "URL images banner 1",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "title_1",
      "label": "Title banner 1",
      "default": "Backpacks"
    },
    {
      "type": "text",
      "id": "sub-title1",
      "label": "Sub title 1",
      "default": "Daily Essentials"
    },
    {
      "type": "text",
      "id": "button_1",
      "label": "Button 1",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_button1",
      "label": "URL button 1",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Setting banner 2"
    },
    {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image",
      "info": "690 x 475px recommended"
    },
    {
      "type": "url",
      "id": "url_banner2",
      "label": "URL images banner 2",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "Title banner 2",
      "default": "Sneakers"
    },
    {
      "type": "text",
      "id": "sub-title2",
      "label": "Sub title 2",
      "default": "Daily Essentials"
    },
    {
      "type": "text",
      "id": "button_2",
      "label": "Button 2",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_button2",
      "label": "URL button 2",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Setting banner 3"
    },
    {
      "type": "image_picker",
      "id": "img_banner3",
      "label": "Image",
      "info": "690 x 475px recommended"
    },
    {
      "type": "url",
      "id": "url_banner3",
      "label": "URL images banner 3",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "title_3",
      "label": "Title banner 3",
      "default": "Sneakers"
    },
    {
      "type": "text",
      "id": "sub-title3",
      "label": "Sub title 3",
      "default": "Daily Essentials"
    },
    {
      "type": "text",
      "id": "button_3",
      "label": "Button 3",
      "default": "SHOP NOW"
    },
    {
      "type": "url",
      "id": "url_button3",
      "label": "URL button 3",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Settings Color Banner"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color Title",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "color_content",
      "label": "Color Sub Title",
      "default": "#b4b4b4"
    },
    {
      "type": "color",
      "id": "color_btn",
      "label": "Color Button",
      "default": "#222"
    },
    {
      "type": "color",
      "id": "bg_btn",
      "label": "background button"
    },
    {
      "type": "color",
      "id": "color_btn_hover",
      "label": "Color Button",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "bg_btn_hover",
      "label": "Background Color Button Hover",
      "default": "#222"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "BANNER V11",
      "category": "HOME"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}